:root{
    --theme-color: #a3ac99;
    --theme-color-dark: #556246;
    --theme-dark: #222;
    --theme-light: #fafafa;

    --page-width: 960px;
    --header-height: 50px;
    --footer-height: 50px;
}

html,body {
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 200;
    line-height: 1.5;
    height: 100%;
    margin: 0;
}
.container {
    background: var(--theme-light);
    min-height: 100%;
    position: relative;
}
.page {
    width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    height: var(--header-height);
    line-height: var(--header-height);
    position: fixed;
    color: var(--theme-light);
    background: var(--theme-color) none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(74, 74, 72, 1);
    top: 0;
    z-index: 99;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}
.footer {
    height: var(--footer-height);
    line-height: var(--footer-height);
    background: var(--theme-dark) none repeat scroll 0 0;
    color: var(--theme-light);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav .active {
    color: var(--theme-light);
    background: var(--theme-color-dark);
    display: inline-block;
}
.nav > li {
    display: inline;
    font-size: 24px;
    font-weight: 200;
}
.toes > li {
    display: inline;
    font-size: 18px;
    font-weight: 100;
}
.nav > li > a, .toes > li > a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}
.header a:hover {
    color: var(--theme-color-dark)
}
.header .active a:hover {
    color: var(--theme-color)
}
.footer a:hover {
    color: #777777;
}
.header ul, .footer ul {
    margin: 0;
    list-style:none;
    padding-left:0;
}
.body {
    background: var(--theme-light);
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
}

a { cursor: pointer; }

.flash {
    background: #cee5F5;
    padding: 5px;
    border: 1px solid #aacbe2;
}
.error {
    background: #f0d6d6;
    padding: 5px;
}

.sections {
    list-style: none;
    margin: 0;
    padding: 0;
}

#index {
    padding: 10px;
}

.large-text-input {
    height: 75px;
}

input, .large-text-input {
    width: 200px;
}
.large-text-input {
    width: 204px;
}
input[type="submit"] {
    background-color: var(--theme-color-dark);
    border: none;
    color: var(--theme-light);
    font-size: 16px;
    font-weight: 100;
    padding: 6px 16px;
    cursor: pointer;
    width: 207px
}
input[type="submit"]:hover {
    box-shadow: 0 0 5px rgba(74, 74, 72, 1);
}

.form-label {
    width: 25%;
}
.form-title {
    font-size: 18px;
    font-weight: 300;
}

/* Use font style that matches the rest of the page in form fields */
textarea, input, button, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltiptitle {
    border-bottom: 1px dotted var(--theme-dark);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: var(--theme-dark);
    color: var(--theme-light);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#story {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#story img {
    width: 100%;
    padding: 10px 0px;
}

#index img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#party-header {
    position: relative;
}

#wedding-party-pan {
    width: var(--page-width);
    position: relative;
}

#party-links {
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 74%;
    bottom: 10%;
}

.party-figure {
    position: relative;
    display: inline-block;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

.party-figure.maid {
    width: 6.5%;
}

.party-figure.bride {
    width: 7%;
}

.party-figure.groom {
    width: 7%;
}

.party-figure.man {
    width: 7.5%;
}