{% extends "layout.html" %}
{% set active_page = "event" %}
{% block body %}
  <ul class=sections id={{ section_group_id }}>
    {% for section in sections %}
      <li><h2>{{ section.title }}</h2>{{ section.text|markdown }}
    {% endfor %}
  </ul>
  <div id=save-the-date>
    <h2>Save the Date</h2>
    <form id="save-the-date-form" action="{{ url_for('save_the_date') }}" method="post">
      Name: <input name="name" type="text" maxlength="100"/><br/>
      Email: <input name="email" type="email" maxlength="100"/><br/>
      Address: <br/>
      <textarea name="address" form="save-the-date-form" maxlength="500" class="large-text-input"></textarea><br/>
      Number planning to attend (including yourself) <input name="guests" type="number" min="1" max="10" /><br/>
      Hotel Preference (There is no commitment for checking any of these, Tat & Alex just want to make sure they're
        blocking off rooms where people actually would like to stay.)<br/>
        <input name="hotel_preference" type="checkbox" value="One Ocean" />One Ocean<br/>
        <input name="hotel_preference" type="checkbox" value="Courtyard Marriott" />Courtyard Marriott<br/>
        <input name="hotel_preference" type="checkbox" value="Fairfield Inn & Suites" />Fairfield Inn & Suites<br/>
        <input name="hotel_preference" type="checkbox" value="Best Western" />Best Western<br/>
        <input name="hotel_preference" type="checkbox" value="Four Points by Sheraton" />Four Points by Sheraton<br/>
        <input name="hotel_preference" type="checkbox" value="Ponte Vedra Inn & Club" />Ponte Vedra Inn & Club<br/>
      Any additional notes: <br/>
      {# Looks like Flask has some issues with a textarea closed with /> #}
      <textarea name="notes" form="save-the-date-form" maxlength="1000" class="large-text-input"></textarea><br/>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}