<!doctype html>
<title>{{ g.title }}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script
    src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>
<script type="application/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
<div class=container>
  <div class=header>
    <div class=page>
      {% set active_page = active_page|default('index') -%}
      <ul class="nav">
        {% for item in g.nav_bar %}
          <li {% if item.nav_id == active_page %} class="active" {% endif %}>
            <a href="{{ item.href }}">{{ item.caption|safe }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class=body>
    <div class=page>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}

      {% block body %}{% endblock %}
    </div>
  </div>

  <div class=footer>
    <div class=page>
      <ul class=toes>
        {% for toe in g.toes %}
          <li><a href="{{ toe.href }}">{{ toe.caption }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>