{% extends "layout.html" %}
{% set active_page = "save-the-date" %}
{% block body %}
<ul class=sections id={{ section_group_id }}>
  {% for section in sections %}
  <li><h2>{{ section.title }}</h2>{{ section.text|markdown }}
    {% endfor %}
</ul>
<div id=save-the-date>
  <form id="save-the-date-form" action="{{ url_for('save_the_date') }}" method="post" onsubmit="return validateForm('save-the-date-form', ['name'])">
    <table>
      <tr>
        <td class="form-label"><span class="form-title">Name: </span></td>
        <td class="form-field"><input name="name" type="text" maxlength="100"/></td>
      </tr>
      <tr>
        <td class="form-label"><span class="form-title">Email: </span></td>
        <td class="form-field"><input name="email" type="email" maxlength="100"/></td>
      </tr>
      <tr>
        <td class="form-label"><span class="form-title">I / We'd love to attend, but can't make the trip.</span></td>
        <td class="form-field"><input type="submit" name="decline" value="Sorry ! " style="background: var(--theme-dark)"/></td>
      </tr>
      <tr>
        <td class="form-label"><span class="form-title">Mailing Address: </span></td>
        <td class="form-field"><textarea name="address" form="save-the-date-form" maxlength="500" class="large-text-input"></textarea></td>
      </tr>
      <tr>
        <td class="form-label">
          <span class="form-title">Number planning to attend: </span>
          <br/>
          <span class="form-detail">Including yourself</span>
        </td>
        <td class="form-field"><input name="guests" type="number" min="1" max="10" style="width:30px"/></td>
      </tr>
      <tr>
        <td class="form-label">
          <span class="form-title">Hotel Preference:</span>
          <br/>
          <span class="form-detail">
            Don't book anything yet!
            Based on interest, Tat & Alex will block off rooms and update with discounted rates.
          </span>
        </td>
        <td class="form-field">
          {% for accommodation in accommodations %}
            <input name="hotel_preference" type="checkbox" value="{{ accommodation.name }}" style="width:30px"/>
            <a target="_blank" href="{{ accommodation.link }}">{{ accommodation.name }}</a>:
              {{ accommodation.price }} , {{ accommodation.miles_to_reception }} miles / {{ accommodation.driving_minutes_to_reception }} minutes from reception
            <br/>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="form-label"><span class="form-title">Any additional notes: </span></td>
        {# Looks like Flask has some issues with a textarea closed with /> #}
        <td class="form-field"><textarea name="notes" form="save-the-date-form" maxlength="1000" class="large-text-input"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Submit" /></td>
      </tr>
    </table>
    <br/>
  </form>
</div>
{% endblock %}