{% extends "layout.html" %}
{% set active_page = "save-the-date" %}
{% block body %}
<ul class=sections id={{ section_group_id }}>
  {% for section in sections %}
  <li><h2>{{ section.title }}</h2>{{ section.text|markdown }}
    {% endfor %}
</ul>
<div id=save-the-date>
  <form id="save-the-date-form" action="{{ url_for('save_the_date') }}" method="post">
    <table>
      <tr>
        <td>Name: </td>
        <td><input name="name" type="text" maxlength="100"/></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input name="email" type="email" maxlength="100"/></td>
      </tr>
      <tr>
        <td>Mailing Address: </td>
        <td><textarea name="address" form="save-the-date-form" maxlength="500" class="large-text-input"></textarea></td>
      </tr>
      <tr>
        <td>
          <div class="tooltip">
            <span class="tooltiptitle">Number planning to attend: </span>
            <br/>
            <span class="tooltiptext">
              Including yourself
            </span>
          </div>
        </td>
        <td><input name="guests" type="number" min="1" max="10" style="width:30px"/></td>
      </tr>
      <tr>
        <td>
          <div class="tooltip">
            <span class="tooltiptitle">Hotel Preference:</span>
            <br/>
            <span class="tooltiptext">
              There is no commitment for checking any of these, Tat & Alex just want to make sure they're
              blocking off rooms where people actually would like to stay.
            </span>
          </div>
        </td>
        <td>
          {% for accommodation in accommodations %}
            <input name="hotel_preference" type="checkbox" value="{{ accommodation.name }}" style="width:30px"/>
            <a target="_blank" href="{{ accommodation.link }}">{{ accommodation.name }}</a>:
              {{ accommodation.price }} , {{ accommodation.miles_to_reception }} miles / {{ accommodation.driving_minutes_to_reception }} minutes from reception
            <br/>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Any additional notes: </td>
        {# Looks like Flask has some issues with a textarea closed with /> #}
        <td><textarea name="notes" form="save-the-date-form" maxlength="1000" class="large-text-input"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
    <br/>
  </form>
</div>
{% endblock %}